<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
		<!-- SECURITY WARNING - DO NOT COMMIT THIS!! -->
		<add key="WordPressUsername" value="admin" />
		<add key="WordPressPassword" value="admin123456!" />
		<add key="WordPressBaseUrl" value="http://shenglingzhuxian.mlso.co/" />
		<add key="WordPressBlogId" value="2" />
    
		<!-- / SECURITY WARNING - DO NOT COMMIT THIS!! -->
	</appSettings>
</configuration>